.toggle__title {
  padding-bottom: 10px;
}

.toggle__option {
  margin-right: 30px;
  color: rgb(0 124 82);
  cursor: pointer;
}

.radio_switch {
  border: none;
}

.radio_switch__inner {
  display: flex;
  width: 100%;
  gap: 10px;
}

.radio_switch__inner input {
  cursor: pointer;
}
