.label {
  padding: 0;
  display: block;
}

.input {
  display: block;
  margin-top: 10px;
  margin-bottom: 0px;
  padding: 5px 10px;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  box-shadow: inset 0 0 5px rgb(5 78 53);
}

.input:focus {
  outline: none;
}

.validation__error {
  display: inline-block;
  color: rgb(169, 1, 1);
  font-size: 12px;
  height: 12px;
}
